# Arquivos de ambiente
.env
*.sqlite3

# Cache e compilados Python
__pycache__/
*.pyc

# IDEs
.vscode/
.idea/

# Streamlit
vetorizacao.log

# Dados temporários
uploaded_files/
chroma/
temp/
venv/
.venv/

# Outros
*.log
.DS_Store